{% extends "app/layout.html" %}

{% block content %}

<h2>Свяжитесь с нами</h2>
<h3>Мы всегда рады помочь!</h3>

<address>
    Улица Котофея, дом 9<br />
    Мяуград, 123456<br />
    <abbr title="Телефон">P:</abbr>
    +7 (495) 123-45-67
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@meowdidas.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@meowdidas.com</a>
</address>

<p>Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам. Мы ответим в ближайшее время!</p>

{% endblock %}
