{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="video-container">
    <h1>Видео-ролик 1</h1>
    <video width="640" height="360" controls>
        <source src="{{ MEDIA_URL }}cat_video.mp4" type="video/mp4">
        Ваш браузер не поддерживает HTML5 видео.
    </video>
</div>

<div class="video-container">
    <h1>Видео-ролик 2</h1>
    <video width="640" height="360" controls>
        <source src="{{ MEDIA_URL }}video.mp4" type="video/mp4">
        Ваш браузер не поддерживает HTML5 видео.
    </video>
</div>
{% endblock %}